{% extends 'estacionamiento/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4">Estacionamientos Arrendados</h1>

    {% if arriendos %}
        <ul class="list-group">
            {% for arriendo in arriendos %}
                <li class="list-group-item">
                    <div>
                        <h3>{{ arriendo.estacionamiento.direccion }}</h3>
                        <p>Fecha de Reserva: {{ arriendo.fecha_reserva }}</p>
                        <p>Estado Actual: {% if arriendo.estacionamiento.habilitado %}Disponible{% else %}No Disponible{% endif %}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tienes estacionamientos arrendados.</p>
    {% endif %}
</div>
{% endblock %}
