{% extends 'estacionamiento/base.html' %}

{% block content %}
<div class="container mt-5">
    <form method="post" action="{% url 'buscar' %}">
        {% csrf_token %}
        
        <!-- Eliminar las selecciones de hora -->
        
        <button type="submit" class="btn transition" style="margin-top: 20px; float: right;">Buscar estacionamientos habilitados</button>
    </form>
</div>

<script>
    // Puedes eliminar todo el script relacionado con la selección de horas
</script>
{% endblock %}
