{% extends 'estacionamiento/base.html' %}

{% block content %}
    <h1>Editar Arrendamiento</h1>
    <form method="post" action="{% url 'editar_arrendamiento' arrendamiento.id %}">

        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fecha">Fecha de Inicio:</label>
                    <input type="date" class="form-control" id="fecha" name="fecha" style="background-color: #E5E0EC;" required>
                </div>
            </div>
            <div class="col-md-6">
                <label for="hora_Inicio">Hora de Inicio:</label>
                <select class="form-control" id="hora_inicio" name="hora_inicio" style="background-color: #E5E0EC;" required>
                    <option value="">--:--</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fecha_fin">Fecha de Fin:</label>
                    <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" style="background-color: #E5E0EC;" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="hora_fin">Hora de Fin:</label>
                    <select class="form-control" id="hora_fin" name="hora_fin" style="background-color: #E5E0EC;" required>
                        <option value="">--:--</option>
                    </select>
                </div>
            </div>
        </div>
        
        <button type="submit" class="btn transition" style="margin-top: 20px; float: right;">Confirmar</button>
        </form>
        
        <script>
        $(document).ready(function () {
            // Copia la fecha del primer formulario al segundo formulario
            var fechaCopia = $('#fecha').val();
            $('#fecha_fin').val(fechaCopia);
        
            // Obtén la fecha actual
            var fechaActual = new Date();
            var dd = fechaActual.getDate();
            var mm = fechaActual.getMonth() + 1; // Los meses en JavaScript son 0-based
            var yyyy = fechaActual.getFullYear();
        
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
        
            var fechaMinima = yyyy + '-' + mm + '-' + dd;
        
            // Establece la fecha mínima en los campos de fecha de inicio y fin
            $('#fecha').attr('min', fechaMinima);
            $('#fecha_fin').attr('min', fechaMinima);
        
            // Agrega un control para asegurarse de que la fecha de fin no sea anterior a la fecha de inicio
            $('#fecha').on('change', function () {
                $('#fecha_fin').attr('min', $(this).val());
            });
        });
        </script>
        
    
    
{% endblock %}
