.navbar {
    background-color: rgb(71, 133, 13);
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-brand img {
    margin-right: 10px;
  }
  .navbar-nav .nav-link {
    color: white;
  }
  
  * {
    font-family: "Times New Roman", sans-serif;
}

button {
  background-color: rgb(71, 133, 13);
  color: #ffffff;
  transition: background-color 0.2s;
}

button:hover {
  background-color: red;
}

button.btn.btn-danger {
  background-color: rgb(71, 133, 13);
  color: #ffffff;
  transition: background-color 0.2s;
}

button.btn.btn-danger:hover {
  background-color: red;
}

