{% extends 'estacionamiento/base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card" style="margin-top: 50px;">
                    <div class="card-header text-black">
                        <h2>Login</h2>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="POST" novalidate>
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                {% for error in field.errors %}
                                <span style="color:red">{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endfor %}
                            <br>
                            <input type="submit" value="Login" class="btn btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


